body {
    background-color: #111;
    color: #eaeaea;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.5rem;
    color: #f0f0f0;
    border-bottom: 1px solid #555;
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    letter-spacing: 1px;
}

.ejercicio {
    background-color: #1a1a1a;
    border: 1px solid #333;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

button {
    background-color: #302e2e;
    color: #eaeaea;
    border: 1px solid #444;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 4px;
    margin-top: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #3f3e3e;
    border-color: #666;
}

p {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #ccc;
}

::selection {
    background-color: #b92222;
    color: #fff;
}

.resultado {
    background-color: #181818;
    border: 1px solid #333;
    padding: 1rem;
    border-radius: 6px;
    margin-top: 1rem;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.05);
    font-size: 0.95rem;
    color: #ccc;
}

/* Estilos ejercicio 10*/
.e10 {
  
}

.e10mod {
    background-color:whitesmoke;
    color:#111
}


/* Estilos ejercicio 12*/
input[type="text"] { 
    width: 250px; 
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;

}

input[type="email"] { 
    width: 250px; 
    padding: 10px;
    margin-left: 15px; /*espacio izquierda para que quede misma altura que nombre*/
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error12 {
    color:#e47373;
}


/* Estilos ejercicio 13*/

input[type="tarea"] { 
    width: 400px; 
    padding: 10px;
    margin-right: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}


#listaElementos {
    margin-top: 20px;
    padding-left: 0; 
    list-style-type: none; /* sin el punto */
}

.elemento-lista {
    background-color: #373333;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-left: 10px; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.texto-elemento {
    flex-grow: 1;
    margin-right: 10px;
}

.Completado{
    text-decoration: line-through;
    color: #4e4e4e;
}

.boton-completado {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px; 
}

.boton-completado:hover {
  background-color: #215d31;
}

.boton-eliminar {
    background-color: #f44336; 
    color: white;
    padding: 8px 12px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}
.boton-eliminar:hover {
  background-color: #d32f2f;
}

/* FIN estilos ejercicio 13*/